* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-btn: #5ac74c;
  --red-btn: #c74c4c;

  --brand-red: #ed2e5c;

  --my-blue: #2941f5;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;

  justify-content: center;
  position: relative;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

span {
  color: var(--brand-red);
  font-weight: 600;
}

button {
  cursor: pointer;
}

p {
  font-size: 1.6rem;
}

.exercices {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  height: fit-content;
  width: 112rem;
}

.subtitle {
  margin-block: 2rem 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5rem;
}

.button-one {
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: center;

  padding: 3rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--green-btn);

  color: white;
  font-size: 2rem;

  box-shadow: 5px 5px 10px rgb(59, 59, 59);

  transition: all 0.2s;
}

.button-one:hover {
  background-color: var(--red-btn);
}

.button-two {
  font-family: "Poppins", sans-serif;
  display: flex;

  width: 20rem;
  height: 20rem;

  padding: 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #5ac74c;

  color: white;
  font-size: 2rem;
  align-items: center;
  justify-content: center;

  box-shadow: 5px 5px 10px rgb(59, 59, 59);

  transition: all 0.2s;
}

.button-two:active {
  background-color: #c74c4c;
  border-radius: 10rem;
}

/* ANIMAÇÕES =============================================== */

.animations {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

p {
  opacity: 0;
  animation-name: reveal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

p:nth-child(2) {
  animation-delay: 1s;
}

p:nth-child(3) {
  animation-delay: 2s;
}

p:nth-child(4) {
  animation-delay: 3s;
}

@keyframes reveal {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* CÍRCULO DESLIZANDO =============================================== */

.circle-slide-area {
  background-color: #e8ffe6;
  width: 100%;
  height: 15rem;
  border: 1px solid black;
  border-radius: 2.5rem;
  display: flex;
  position: relative;
}

.circle {
  background-color: var(--my-blue);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation: 10s slide infinite;
  position: absolute;
}

@keyframes slide {
  0%,
  100% {
    top: 0;
    left: 0;
}

25% {
    top: 0;
    left: calc(100% - 50px);
}

50% {
      top: calc(100% - 50px);
      left: calc(100% - 50px);
    }
    
    75% {
      top: calc(100% - 50px);
      left: 0;
  }
}
